.projectimg{
    height: 200px;
    width: 355px;
    border: 5px solid teal;
    border-radius: 20px;
}

.projectimg:hover{
    height: 220px;
    width: 390px;
    transition-duration: 0.2s;
}

section{
    text-align: center;
}

p{
    text-align: center;
}

/*mobile*/

@media (max-width: 480px) {

.projectimg{
    height: 150px;
    width: 266px;
}
}